# Core ML
tensorflow==2.19.0
scikit-learn

# Data handling
pandas
numpy

# Image processing
opencv-python-headless
Pillow

# Visualization
matplotlib
seaborn
contourpy==1.2.1

# Graph processing (downgraded for Python 3.10)
networkx==3.2.1

# Streamlit UI
streamlit
