# PyTorch
torch==2.2.2
torchvision==0.17.2

# Core ML
scikit-learn

# Data handling
pandas
numpy

# Image processing
opencv-python-headless
Pillow

# Visualization
matplotlib
seaborn
contourpy==1.2.1

# Graph processing (compatible for Python 3.10)
networkx==3.2.1

# Streamlit UI
streamlit
